body {
    margin: 0px;
    padding: 0px;
    background:url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1450px;
    font-size: 16px;
    color: #00 00 00 0 0 0;
    font-family: monospace;
    font-weight: 300;
}
.akun{
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 120px;
  width: 150px;
}

.atas1{
    margin-left: 850px;
    position:absolute;
    margin-top: 20px;
    margin-bottom: 110px;
    width: 180px;
    height: auto;
 }
.atas2{
    margin-left: 950px;
    position:absolute;
    margin-top: 20px;
    margin-bottom: 110px;
    width: 180px;
    height: auto; 
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}

.info {
    background-color: rgba(0,128,0,0.3);
    margin-left: 20px;
    position:absolute;
    margin-top: 50px;
    margin-bottom: 100px;
    box-sizing:content-box;
    padding: 20px;
    width: auto;
    height: auto;
}

.pemesanan{
    background-color: rgba(0,128,0,0.3);
    margin-left: 350px;
    position:absolute;
    top: 50px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    left: 0;
    box-sizing:content-box;
    padding: 40px;
    width: 600px;
    height: auto;
}

.bawah{
    margin-left: 30px;
    position:absolute;
    border-radius: 50px;
    margin-top: 500px;
    margin-bottom: 10px;
    padding: 30px;
    width: 1200px;
    height: auto; 
}
.button a:hover {
    opacity: 0.8;
}

* a:hover{
    opacity: 0.5;
}

input[type="chackbox"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 120px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="button"]{
    margin-bottom: 10px;
    width: 120px;
    height: 32px;
    background: black;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    margin-top: 30px;
}

h4{
    text-align: center;  
}

input[type="text"],
input[type="date"],
input[type="jumlah"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}

/* responsive */
@media only screen and (max-width: 600px) {
    .atas1 .atas {
    width: 50%;
    }
    .akun1 .akun {
    width: 50%;
    }
    .search1 .search {
    width: 50%
    }
    .wisata {
    width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    .atas1 .atas {
    width: 25%;
    }
    .akun1 .akun {
    width: 25%;
    }
    .search1 .search {
    width: 25%
    }
    .wisata {
    width: 25%;
    }
}

.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background-color: #BDE6A8;
  border-color: #ffff; 
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.modal-dialog2 {
  background-color: #BDE6A8;
  border-color: #ffff; 
  border: #333 solid 1px;
  border-radius: 10px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  width: 500px;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}

#close {
  display: none;
}

h1{
    text-align: center;
    margin-top:30px;
    background-attachment:fixed;
    color: black;
    font-family: stencil;
    font-size: 60px;
}

h2{
    text-align: center;
    font-family: cursive;
    color: #5b5555;
}
h3{
  text-align: center;
  font-style: italic;
  background-attachment:fixed;
  color: black;
}

@media only screen and (max-width: 600px) {
    .atas1 {
    width: 50%;
    }
    .atas2{
    width: 50%;
    }
    .signUp {
    width: 50%;
    }
    .bawah1 {
    width: 50%;
    }
    .wrapper {
    width: 50%;
    }
    .bawah2 {
    width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    .atas1 {
    width: 25%;
    }
    .atas2{
    width: 25%;
    }
    .signUp {
    width: 25%;
    }
    .bawah1 {
    width: 25%;
    }
    .wrapper {
    width: 25%;
    }
    .bawah2 {
    width: 25%;
    }
}

