body{
  background-color:#BDE6A8; 
  background-repeat: no-repeat;
	background-attachment:fixed;
	margin:0px;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}
.atas1{
  margin-left: 900px;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 120px;
  width: 180px;
  height: 150px;
 }
.atas2{
  margin-left: 1000px;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 120px;
  width: 180px;
  height: 150px; 
}

.akun{
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 5px;
  width: 150px;
  float: top;
}
.profile{
  margin-left: 60px;
  margin-bottom: 5px;
  width: 100px;
  float: top;

}

.search1 .search{
    padding: 10px;
    margin-top: 80px;
    background-color: transparent;
    border-radius: 30px;
    width: 50%;
}
.wisata{
  margin-top: 80px;    
  text-align: center;
  font-family: cambria; 
}

* a:hover{
    opacity: 0.7;
}

.wrap {
  padding: 40px;
  text-align: center;
}
.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}

.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
  color: #919191;
}

.modal:before {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-dialog {
  top: 20%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog {
  background-color: #BDE6A8;
  border-color: #ffff; 
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -300%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0,500%);
  -webkit-transform: 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.modal-dialog2 {
  background-color: #BDE6A8;
  border-color: #ffff; 
  border: #333 solid 1px;
  border-radius: 10px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -300%;
  width: 500px;
  -webkit-transform: 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 20px;
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}

#close {
  display: none;
}

/* responsive */
@media only screen and (max-width: 600px) {
    .atas1 .atas {
    width: 50%;
    }
    .akun1 .akun {
    width: 50%;
    }
    .search1 .search {
    width: 50%
    }
    .wisata {
    width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    .atas1 .atas {
    width: 25%;
    }
    .akun1 .akun {
    width: 25%;
    }
    .search1 .search {
    width: 25%
    }
    .wisata {
    width: 25%;
    }
}